{% load static %}
<header>
  <nav id="nav-1">
    <a class="link-1" href="{% url 'home' %}">Home</a> <link href="{% static 'css/base.css' %}" rel="stylesheet"> 
    <a class="link-1" href="{% url 'whatwe' %}">What we Do</a> <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <a class="link-1" href="{% url 'who' %}">Who W Are</a> <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <a class="link-1" href="{% url 'how' %}">How We Make</a> <link href="{% static 'css/base.css' %}" rel="stylesheet"> 
    <a class="link-1" href="{% url 'contact' %}">Contact</a> <link href="{% static 'css/base.css' %}" rel="stylesheet"> 
    <a class="link-1" href="{% url 'about' %}">About</a> <link href="{% static 'css/base.css' %}" rel="stylesheet"> 
    
    
  </nav>
</header>

{% block content %} 
{% endblock content %}
    