{% load static %}
<header>
  <nav id="nav-1">
    <a class="link-1" href="{% url 'home' %}">Home</a> <link href="{% static 'css/base.css' %}" rel="stylesheet"> 
    <a class="link-1" href="{% url 'about' %}">About</a> <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <a class="link-1" href="{% url 'video' %}">Video</a> <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <a class="link-1" href="{% url 'home' %}">Home</a> <link href="{% static 'css/base.css' %}" rel="stylesheet"> 
    
  </nav>
</header>

{% block content %}
    
{% endblock content %}
    