
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>homepage</h1>
    <hr>

    <img src="{% static 'media/1.jpg' %}" height="240" width="640"/><img src="{% static 'media/2.jpg' %}" height="240" width="640"/>
    <img src="{% static 'media/3.jpg' %}" height="240" width="640"/><img src="{% static 'media/4.jpg' %}" height="240" width="640"/>
    <img src="{% static 'media/5.jpg' %}" height="240" width="640"/><img src="{% static 'media/6.jpg' %}" height="240" width="640"/>
{% endblock content %}