{% extends 'base.html' %}

{% block content %}
<h1 style="font-size:20px;"><margin:20>Greenply Industries Ltd. is a leader in the manufacturing and marketing of a wide range of interior infrastructure
        products. Backed by our expertise in supplying high-quality products, we provide both surface finish and
        foundation/structural products for homes, offices and retail establishments.
        Our extensive experience in interior infrastructure projects and overwhelming growth in real estate sector such as
        residential, commercial and retail has enabled us to gain a competitive advantage in the market.</margin:20></h1>
<hr>
<h3>PLYWOOD & BLOCK BOARD</h3>
<p>
    <u>
        <div align='center'>quality products for furniture partitions,
            paneling, cavity flooring, paneled floors, hoardings,
            false ceilings and other exterior-and semi-exterior applications</div>
    </u>
</p>
<h3>Flush Door</h3>
<hr>
<p>
    <u>
        <div align='center'>We have a wide range of premium borer-proof
            doors made by mechanized manufacturing process, which offers uniform
            thickness without undulation, warping or bending and a smooth surface for laminations. </div>
    </u>
</p>

{% endblock content %}