{% extends 'base.html' %} {% block content %}
<h1>
  With a strong retail network, 48 branches across India and presence in over
  300 cities across 21 states, Greenply Industries Limited is committed to
  provide international quality products to its customers
</h1>
<hr />
<p>
  Greenply Industries Limited (GIL) is India's largest interior infrastructure
  company with a whopping turnover of Rs. 1655 crore. We stand at top when it
  comes to plywood and MDF boards. We account for almost 26% of the organized
  plywood market in India and 30% market share in domestic MDF market. Our
  continuous efforts towards achieving excellence helped us gain a significant
  position in the thriving Indian economy. We are a partner of choice for a
  large number of office and home builders. Greenply markets the most
  comprehensive portfolio of residential and commercial floor products available
  - plywood & block boards, MDF and Wood floors under the brand names of
  Greenply Plywood, Green Club Ply, Ecotec, Green Panelmax, and Green Floormax.
  With a strong retail network, 48 branches across India and presence in over
  300 cities across 21 states, Greenply Industries Limited is committed to
  provide international quality products to its customers through more than
  12,000 distributors, dealers, sub-dealer and retailers. The company has five
  state of the art manufacturing facilities across the country manufacturing
  products of global standards. Our esteemed clients trust us by unfolding their
  vision to us, and we bestow the trust reclined in us by converting their
  dreams into reality. So, if you're looking for an exquisite range of interior
  infrastructure products, make sure to give us a call.
</p>

{% endblock content %}
